<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @order.username %>
</p>

<p>
  <strong>Email:</strong>
  <%= @order.email %>
</p>

<p>
  <strong>Address:</strong>
  <%= @order.address %>
</p>

<% products = @order.products %>
<% products.each do |product| %>
  <p>
    <%= product.name%>
  <p>
<% end %>
<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
